@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Insta;
    src: url("../public/fonts/Fontspring-DEMO-blue_vinyl_regular_ps_ot.otf") format("opentype");
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
